<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>nginx, configured by EtechDevops</h1>
  <h1>Welcome to Etech Consulting Master class Team2 Engineers!!!</h1>
  <h1>contact us at +13478735512/+16677868741,+16146747407 USA</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>
